/* SOCIAL ENERGY V1 FIX */
#energyOrbs .energyOrb:nth-child(1){left:50%!important;top:17%!important}
#energyOrbs .energyOrb:nth-child(2){left:82%!important;top:50%!important}
#energyOrbs .energyOrb:nth-child(3){left:50%!important;top:83%!important}
#energyOrbs .energyOrb:nth-child(4){left:18%!important;top:50%!important}
